.List
  width: 60%

  .L__Table
    border-style: solid
    border-width: 5px 3px
    border-color: #FF3D00
    border-radius: 15px 15px 0 0
    padding: 0 10px
    background-color: #202020

    .T__Row
      width: 100%
      padding: 10px 30px
      margin: 7px 0
      border-style: solid
      border-width: 1px 2px
      border-color: #FF3D00
      border-radius: 15px
      background-color: #5e5a5a
      color: #fff
      cursor: pointer

      &:hover
        background: #8d8989

      .R__Id
        float: left

      .R__Name
        display: block
        text-align: center
